<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- jquery & bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="/bootstrap/bootstrap.bundle.min.js"></script>
<link href="/bootstrap/bootstrap.min.css" rel="stylesheet" />

<!-- web font -->
<!-- 1 -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet" />

<!-- my css -->
<link rel="stylesheet" href="/css/custom.css" />

<!-- my js -->
<script src="/js/script.js"></script>

<title>Humechanic</title>
