<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container-lg">
      <div clss="row">
        <div class="custom-head">
          <h1>About <small>동아리 소개</small></h1>
        </div>
        <div class="custom-description">
          <div class="row">
            <div class="image col"><img src="image/logo.jpg" alt="동아리 로고" width="400px" /></div>
            <div class="content col">
              <div class="custom-head">
                <h2>Humechanic <small> 정보통신전자공학과 로봇동아리 </small></h2>
              </div>

              <p>안녕하세요, Humechanic 입니다.</p>
              <p>저희 동아리는 학과 전공수업과 프로그래밍 언어를 통한 로봇제어와 전공 실험을 직접 학습해보는 학과 동아리입니다.</p>
              <p>
                로봇을 직접 제어하는 일에 흥미를 가지고 있는 학우들이 팀을 구성하거나 선후배들과 함께 팀을 구성해 서로가 필요로하는 지식을 공유해 가면서 자신들의 역량을 키워 나갑니다. 더 큰 무대인
                교내, 교외에서 진행하는 공모전에 참가하여, 앞서 동아리내 팀 구성 활동을 통해서 강화된 역량을 실전에 적용시켜 수상을 목표로 열심히 참여 하여 실전 경험과 더 높은 경지에 실력향상을 경험
                할 수 있도록 협력하여 도전하고 있습니다.
              </p>
              <ul>
                <li>현 회장 : 이효민</li>
                <li>회장 연락처 : 010-1234-5678</li>
                <li>지도교수 : 유정기 교수님</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div clss="row">
        <div class="custom-head">
          <h1>Member <small>동아리원 소개</small></h1>
        </div>
        <div class="custom-description">
          <div class="row text-center">
            <div class="image col"><img src="image/member.jpg" alt="동아리원" /></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
