<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="text-center">
      <img src="image/logo.jpg" class="img-fluid" alt="Humechanic" />
    </div>
  </body>
</html>
