<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <style>
      .card-title small {
        font-size: 0.85rem;
        color: #777;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <section class="py-5 text-center container">
      <div class="row py-lg-2">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 style="font-weight: 700">Project</h1>
          <p class="lead text-muted">Humechanic Project</p>
        </div>
      </div>
    </section>
    <div class="album py-5 bg-light">
      <div class="container-lg">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-5 shadow-sm">
              <img class="card-img" src="/image/project4.jpg" alt="" />
              <div class="card-body description">
                <h5 class="card-title"><strong>Dcrew</strong> <br /><small>2018-01-16 ~ 2018-01-18</small></h5>
                주제 : 대전대학교 동아리 웹사이트 제작
                <p class="card-text">팀원 : 윤동환, 조민경</p>
                <div class="d-flex justify-content-end align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-5 shadow-sm">
              <img class="card-img" src="/image/project2.jpg" alt="" />
              <div class="card-body description">
                <h5 class="card-title"><strong>Humechanic</strong> <br /><small>2018-02-16 ~ 2018-02-19</small></h5>
                주제 : Humechanic 웹사이트 제작
                <p class="card-text">팀원 : 김다은, 조민경, 한용상</p>
                <div class="d-flex justify-content-end align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-5 shadow-sm">
              <img class="card-img" src="/image/project3.jpg" alt="" />
              <div class="card-body description">
                <h5 class="card-title"><strong>3D 프린터</strong> <br /><small>2018-06-16 ~ 2018-07-30</small></h5>
                주제 : 3D 프린터 모델링
                <p class="card-text">팀원 : 이제홍, 허다빈, 한용상</p>
                <div class="d-flex justify-content-end align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
